*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
}
.card {
  max-width: 375px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
}
picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#type {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
}
.header h1 {
  margin: 10px auto;
  font-family: 'Fraunces', serif;
  font-weight: 700;
}
.header p {
  line-height: 30px;
  font-size: 18px;
  color: hsl(228, 12%, 48%);
  margin-bottom: ;
}
#price {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#price-after {
  margin-right: 20px;
  font-family: 'Fraunces', serif;
  font-size: 48px;
  color: hsl(158, 36%, 37%);
}
del {
  color: hsl(228, 12%, 48%);
}
button {
  background-color: hsl(158, 36%, 37%);
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 20px 100px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
}
button img {
  margin-right: 5px;
}
button:hover {
  cursor: pointer;
  background-color: hsl(158, 24%, 21%);
}
@media (min-width: 762px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .card {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 450px);
  }
  picture img {
    border-radius: 20px 0 0 20px;
  }
  .content {
    margin: auto 20px;
  }
}